fastapi==0.128.1
uvicorn==0.40.0
dotenv==0.9.9
sqlalchemy==2.0.46
alembic==1.18.3
pydantic
asyncpg==0.31.0
slowapi==0.1.9
pydantic-settings
boto3
google-auth
python-multipart
passlib[bcrypt]
python-jose[cryptography]
requests
pydantic[email]
bcrypt==4.0.1